.card-img
{
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}
.parrafo
{
    margin-top:-90px;
    margin-left: 220px;
    margin-right: 8px;
    font-size: 20px;
    color:rgb(215, 39, 224);
    text-align: inherit;
    text-shadow: 0px 0px 2px rgb(0, 0, 0); 
}
.contenedor-card
{   
  box-shadow: 0px 0px 12px black;
  margin-top:10px;
  margin-left: 280px;
  width: 200px;
  height: 250px;
  background-color: rgb(241, 141, 10);
  border:2px solid #fff;
  border-radius: 45px;
  margin-right: 10px;
}
.card-titulo
{
    text-align: center;
    color:black;
    font-size: 30px;
}
.img-lenguajes
{
  width: 100px;
  height: 100px;
  margin: 40px;
  border-radius: 100%;
  text-align: center;
}
div h4
{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color:rgb(208, 43, 226);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div a
{
    text-decoration: none;
    margin-left:20px;
    color:red;
    padding-top: -5px;
}
.nombre-card
{
    color:blue;
}
.enlace-git
{
    margin-top:-20px;
    font-weight: bolder;
    margin-left: 300px;
}
#foto-git
{
    width: 40px;
    height: 40px;
    margin-top:-14px;
    margin-bottom:12px;
    margin-left:60px;
}
.contenedor-card1
{   
  box-shadow: 0px 0px 12px black; 
  margin-top:-235px;
  margin-left: 300px;
  width: 200px;
  height: 250px;
  background-color: rgb(241, 141, 10);
  border:2px solid #fff;
  border-radius: 45px;
  margin-right: 40px;
}
.nombre-card1
{
    color:blue;
}
.img-lenguajes1
{ 
     width: 90px;
     height: 80px;
     border-radius: 40%;
     margin: 12px;
     margin-left: 60px;
}
#foto-git1
{
    width: 40px;
    height: 40px;
    margin-top:-3000px;
    margin-bottom: 4px;
}
.enlace-git1
{
    margin-top: -40px;
    margin-left: 50px;
}
.contenedor-tecnologias
{
    box-shadow: 0px 0px 12px black; 
    width: 270px;
    height: 250px;
    border: 2px solid #fff;
    margin-left: 880px;
    background-color: rgb(241, 141, 10);
    margin-top:-250px;
    border-radius: 30px;
}
.card-cmas,.card-html,.card-js,.card-java
{
    width: 100px;
    height:100px;
    margin:12px;
}
.card-sql
{
    width: 144px;
    height: 100px;
    margin-bottom:12px;
    margin-left: -5px;
}
aside iframe
{
    margin-left: 500px;
    margin-bottom:60px;
    width: 200px;
    height: 150px;
}
#titulo-main
{
  margin-top: 15px;
  font-size: 20px;
  color:rgb(255, 0, 0);
}